.chat_container {
    background: white;
    border: 20px solid #333;
    border-radius: 6px;
    margin: 30px 0px;
    height: 90%;
    position: relative
}

.chat-more-open {
    position: absolute;
    top: 20px;
    height: 90%;
    width: 150px;
    left: -150px;
    background: #333;
    border-radius: 6px;
    transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    z-index: -1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.chat-more {
    position: absolute;
    top: 20px;
    height: 90%;
    width: 150px;
    left: 0px;
    background: #333;
    border-radius: 6px;
    z-index: -1;
    transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
}

.chat_content {
    z-index: 2
}

.chat-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #333
}

.chat-header h2 {
    flex: 1;
    padding: 0px 10px
}

.chat-logout-button {
    right: 20px;
    background: white
}

.chat-input-container {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background: #333
}

.message-input {
    max-height: 100px;
    margin: 20px 20px 0px 0px;
    flex: 1;
    border-radius: 4px;
    padding: 10px
}

.message-send-button {
    background: #4FC5FF;
    color: white;
    border: none;
    font-size: 1.6rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.7px;
    border-radius: 4px;
    height: auto;
    text-transform: capitalize;
    height: 40px;
    margin: 20px 0px;
}

.chat-message-container {
    display: flex;
    flex: 1;
    justify-content: flex-end
}

.chat-message-view {
    overflow-y: scroll;
    padding: 20px 0px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-message {
    margin-left: 65px
}

.chat-bubble-left {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.chat-time-line {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 10px 0px
}

.chat-time-line div{
    border-bottom: 1px solid #BBB;
    flex: 1;
    height: 10px;
    margin: 0px 10px
}

.chat-time-line span{
    padding: 0px 20px;
    color: #BBB
}

.chat-bubble-right {
    flex: right
}

.chat-bubble-name {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: green ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px
}

.chat-bubble-name span{
    color: white
}

.chat-bubble-fullname {
    color: blue;
    font-weight: bold
}

.chat-bubble-message {
    padding-right: 20px
}

.chat-bubble-message p{
    margin: 0px
}

.chat-bubble-me {
    background: blue    
}

.chat-bubble-time {
    color: #BBB
}

@media (max-width: 768px){
    .chat-more-open {
        position: absolute;
        top: 60px;
        height: 200px;
        width: 100%;
        left: 0px;
        z-index: 3;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;    
    }
    
    .chat-more {
        position: absolute;
        top: 60px;
        height: 0px;
        width: 100%;
        left: 0px;
    }
}
